
.PreviewData-container {
  display: flex;
  color: black;
  margin-top: 5%;
  align-items: center;
  justify-content: flex-end;

  .Title-text {
    margin: 4px;
    margin-top: 20px
  }
  .player-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    margin: 10px;
    border: 1px dashed black;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .bottom-part {
    display: flex;
    height: 10%;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 24px;
  }
  .preview-view {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    background-color: #ecf0f1;
    border-radius: 4px;
  }
}
