
.PreviewData-container {
  display: flex;
  color: black;
  margin-top: 5%;
  align-items: center;
  justify-content: flex-end;

  .Title-text {
    margin: 4px;
    margin-top: 20px
  }

  .button-style {
    margin: 6px;
    border-radius: 4px;
    align-self: center;
    margin-top: 6px;
    color: black;
    height: 60%;
    font-size: 14px;
    width:20%;
  }

  .player-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
    margin: 10px;
    list-style-type: none;
    padding-left: 0px;
    border-radius: 4px;
    overflow-y: scroll;
  }

  .data-list-item {
      border: 1px dashed black;
      width: 100%;
  }
  .bottom-part {
    display: flex;
    height: 10%;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 24px;
  }
  .preview-view {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    background-color: #ecf0f1;
    border-radius: 4px;
  }
}
