
.result-container {
  display: flex;
  color: black;
  margin-top: 5%;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  .Title-text {
    margin: 4px;
    margin-top: 20px
  }

  .player-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
    margin: 10px;
    list-style-type: none;
    padding-left: 0px;
    border-radius: 4px;
    overflow-y: scroll;

    .player-card-object {
      border: 1px dashed black;
      width: 100%;
    }
  }
  .bottom-part {
    display: flex;
    height: 10%;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 24px;
  }
  .results-view {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    background-color: #ecf0f1;
    border-radius: 4px;
  }
}
