
.loading-container {
  display: flex;
  color: black;
  margin-top: 10%;
  align-items: center;
  justify-content: flex-end;

  .Title-text {
    margin: 4px;
    margin-top: 20px
  }
  .bottom-part {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 24px;
  }
  .loading-view {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 70vh;
    background-color: #ecf0f1;
    border-radius: 4px;
  }
}
