
.loading-container {
  display: flex;
  color: black;
  margin-top: 5%;
  align-items: center;
  justify-content: flex-end;

  .Title-text {
    margin: 4px;
    margin-top: 20px
  }
  .bottom-part {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 24px;
  }
  .loading-view {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    background-color: #ecf0f1;
    border-radius: 4px;
  }

  .button-style {
    border-radius: 4px;
    margin-top: 6px;
    color: black;
    font-size: 14px;
    height: 40px;
    width:20%;
    margin: 6px;
  }

  .active-show {
    margin: 24px;
    transition: 1s all;
    opacity: 1;
  }

  .inactive {
    opacity: 0;
  }
}
