.ReactModal__Overlay, ReactModal__Overlay {
  top: 50px;
}


.uploads-container {
  display: flex;
  color: black;
  margin-top: 10%;
  align-items: center;
  justify-content: flex-end;
  .upload-file-modal {
    bottom: 50%;
    margin-top: 20%;
    border: none;
    outline: none;
    background-color: white;
    width: 90%;
  }

  .current-files {
    list-style-type: none;
    padding-left: 0px;
  }
  .Title-text {
    margin: 4px;
    margin-top: 20px
  }
  .upload-button {

  }
  .uploads-view {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 70vh;
    background-color: #ecf0f1;
    border-radius: 4px;
  }


  .new-file-upload {
  }

}
