.ReactModal__Overlay, ReactModal__Overlay {
  top: 50px;
}

.upload-file-modal {
  bottom: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  background-color: white;
  width: 90%;
}

.uploads-container {
  display: flex;
  color: black;
  margin-top: 5%;
  align-items: center;
  justify-content: flex-end;


  .file-list-item {
    text-align: left;
    margin-left: 10%;
    margin-top: 4px;
    border: 1px dotted black;
  }
  .file-list-item {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4px;
  }

  .active-item {
      background-color: #3F51B5;
      color: white;
  }

  .file-list-item:hover {
    background-color: #3F51B5;
    color: white;
  }

  .current-files {
    list-style-type: none;
    padding-left: 0px;
  }
  .Title-text {
    margin: 4px;
    margin-top: 20px
  }
  .upload-button {
    margin: 12px;
    width: 25%;
    border: 1px dashed gray;
    outline: none;
  }

  .button-container {
    width: 100%;
  }
  .next {
    margin: 12px;
    width: 50%;
  }
  .info-message {
    font-size: 8px;
    margin: 12px;
  }
  .uploads-view {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    background-color: #ecf0f1;
    border-radius: 4px;
  }
  .bottom-part {
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 24px;
    flex-direction: column;
  }

  .new-file-upload {
  }

}
